<% include ./partials/header %>
    <br><br><br><br>
<div class='ui main text container segment'>
    <div class='ui huge header'>New Unix Stamp</div>	
    <form class='ui form' method='POST'>
        <div class='field'>
        	<label>Stamp</label>
        	<input type='text' name='stamp' placeholder="Stamp"></input>
        </div>
    	<input class='ui green basic button' type="submit"></input>
    </form>
</div>

<% include ./partials/footer %>